@import "landing";
@import "album";
@import "collection";
@import "player_bar";

html {
   height: 100%;
}

body {
   // background: -webkit-radial-gradient(#2b1339, #380c77);
   // background: radial-gradient(#2b1339, #380c77);
   background: linear-gradient(0deg, #2b1339, #380c77);
   color:       #fff;
   font-family: 'Open Sans';
   min-height:  100%;
   padding-bottom: 150px;
}

body.landing {
   background: #5b5579;
   padding-bottom: 0;

   .nav-bar {
      margin-bottom: 0;
   }
}

.player-header-nav {
   background-color: rgba(123,70,163,.9);
}